
.example-block {
    width: 85%;

    @include media($tablet) {
        width: 100%;
    }
}

ul.example-block--accordion-tabs {
    @include inset-shadow();
    padding: 0px;
    margin: 0px;
}

.example-block--accordion-tabs {
    @include clearfix;

    padding-bottom: $spacing-standard;

    border-radius: $radius;
    background-color: $light-grey;
    text-align: left;

    li.tab-header-and-content {
        display: inline;

        margin: 0px auto;
        width: 100%;
        text-align: left;
    }

    a.tab-link {
        display: inline-block;

        margin: ($spacing-standard / 4) $spacing-standard;
        padding: ($spacing-small / 3) $spacing-small;
        line-height: 13px;
        font-size: 13px;

        color: $dark-grey;

        &.is-active {
            @include inset-shadow();
            color: $white;
            background: $dark-grey;
            border-radius: $radius * 2;
        }
    }

    .tab-content {
        display: none;
        float: left;

        width: 100%;
        padding: 0px $spacing-standard;
        box-sizing: border-box;

        border-top: darken($light-grey, 5) solid 1px;

        pre {
            @include remove-shadow();
            margin: 0;
            background: transparent;
        }
    }
}
