div.example-block(class='example-'+name)
    ul.accordion-tabs-minimal
        each code, type in types
          li.tab-header-and-content
            a.tab-link(href="#")= typeTitles[type]
            div.tab-content
                pre: code(class='lang-' + type)= code
