
div.example-block(class='example-'+name)
    ul.example-block--accordion-tabs
        each example in examples
            li.tab-header-and-content
                a.tab-link(href="#")= example.title
                div.tab-content
                    pre: code(class='lang-' + example.extension)= example.code
