.topbar-wrapper.opaque(ng-controller="NavController")
    .navigation(bfind-class-foo="@isexcited")
        .nav-menu-button(onclick="$(this).next().find('ul.nav-items').toggle()")
            ul
                li
                li
                li
        .nav-container
            a.www-link(href=""): img.logo(src="https://www.respoke.io/images/logo_respoke.png")
            ul.nav-items(ng-show="menuVisibility !== false")
                li: a.www-link(href="/#howitworks") How it works
                li: a.www-link(href="/#pricing") Pricing
                li: a(href="/") Docs
                li: a(href="http://community.respoke.io") Community
                li: a.visible-xs.log-in(href="/#login") log in
                li: a.visible-xs.log-out(href="javascript:void(0)" onclick="logout()") log out
                li: a.visible-xs.sign-up(href="/#sign-up-form") Sign Up
                li: a.visible-xs.portal(href="") PORTAL

            .buttons(ng-show="menuVisibility !== false")
                a.log-in.www-link(href="/#login") log in
                a.log-out(href="javascript:void(0)" onclick="logout()") log out
                a.sign-up.www-link(href="/#sign-up-form") Sign Up
                a.portal(href="") PORTAL
