doctype html
block vars
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
      title
        block title
          = locals.name || 'Respoke Documentation'
      meta(name="keywords" content="")
      meta(name="description" content="")

      != renderSharedTemplate('head')

      link(type="text/css" rel='stylesheet', href='/css/site.css')
      script(src="/js/ga.js" async)
  body
    != renderSharedTemplate('navbar')
    
    
    nav
        include sidebar
    .content
        block content

    != renderSharedTemplate('footer')

    script(src="/js/padd.js")
