doctype html
block vars
html(lang='en')
    head
        block head
            title
                block title
                    = locals.name || 'Respoke Documentation'
            meta(name="keywords" content=locals.meta.keywords)
            meta(name="description" content=locals.meta.description)
            link(rel="canonical" href="https://docs.respoke.io/#{locals.currentPath}")

            link(type="text/css" rel='stylesheet' href='/css/site.css')

            != renderSharedTemplate('head')

            script(src="/js/jquery.tabs.js" defer)
            script(src="/js/site.js" defer)
            script(src="/js/ga.js" async)
    body

        != renderSharedTemplate('navbar', { navTheme: 'dark' })
        //- TODO: fixup breadcrumbs
        //- != renderSharedTemplate('breadcrumbs', { breadcrumbs: breadcrumbs })

        .container
            include sidebar
            .content.navbar--push-it
                block content

        != renderSharedTemplate('footer')
