include ../node_modules/respoke-style/templates/mixins
include sidebar

doctype html
block vars
html(lang='en')
    head
        block head
            title
                block title
                    = locals.name || 'Respoke Documentation'
            meta(name="keywords" content=locals.meta.keywords)
            meta(name="description" content=locals.meta.description)
            link(rel="canonical" href="https://docs.respoke.io/#{locals.currentPath}")

            link(type="text/css" rel='stylesheet' href='/css/site.css')

            != renderSharedTemplate('head')

            script(src="/js/jquery.tabs.js" defer)
            script(src="/js/site.js" defer)
            script(src="/js/ga.js" async)
            script(src="/js/km.js" async)
    body

        +navbar('dark')
            +menu(nav)
        //- TODO: fixup or remove breadcrumbs
        //- != renderSharedTemplate('breadcrumbs', { breadcrumbs: breadcrumbs })

        .container.navbar--push-it
            nav.sidebar
                +menu(nav)
            .content
                block content

        != renderSharedTemplate('footer')
