doctype html
block vars
html(lang='en')
    head
        block head
            title
                block title
                    = locals.name || 'Respoke Documentation'
            meta(name="keywords" content="")
            meta(name="description" content="")

            link(type="text/css" rel='stylesheet' href='/css/site.css')

            != renderSharedTemplate('head')

            script(src="/js/jquery.tabs.js")
            script(src="/js/site.js" async)
            script(src="/js/ga.js" async)
    body

        != renderSharedTemplate('navbar')
        != renderSharedTemplate('breadcrumbs', { breadcrumbs: breadcrumbs, home: { title: 'Docs', path: '/' } })

        nav
            include sidebar
        .content
            block content

        != renderSharedTemplate('footer')
