h2.visible-xs= className

//- Sub-nav for this class
//- bootstrap scrollspy

.secondary-nav.affix(data-stellar-ratio="0.02")
  ul.nav
    li Properties & Methods
    - var alreadyShowed = [];
    each comment, indx in publicComments
      if(alreadyShowed.indexOf(comment.ctx.name) === -1)
        - alreadyShowed.push(comment.ctx.name);
        - var cleanName = comment.ctx.name.replace('.','-');
        if(indx == 0)
          li.active: a(href="#" + cleanName) Overview
        else 
          li: a(href="#" + cleanName)= comment.ctx.name
    li &nbsp;
    if publicEvents.length
      li Events
        each comment in publicEvents
          if(alreadyShowed.indexOf(comment.ctx.name) === -1)
            - alreadyShowed.push(comment.ctx.name);
            li: a(href="#"+comment.ctx.name.replace('.','-').replace('#','-') )= comment.ctx.name.replace(className + "#", '')

