mixin menuItem(node)
    - var itemClasses = [];
    - var link = node.file.data.linkUrl ? node.file.data.linkUrl : ['/', node.path].join('');
    - var linked = link && !node.file.data.noLink
    - var title = node.file.data.shortTitle ? node.file.data.shortTitle : node.file.data.title
    - var onLandingPage = (currentPath === 'index.html' && node.path === 'quickstart.html');

    - itemClasses.push(['sidebar--level-', node.depth].join(''));
    - if (currentPath === node.path || onLandingPage) itemClasses.push('sidebar--current-item');
    - if (node.children.length > 0) itemClasses.push('sidebar--header');

    li(class=itemClasses.join(' '))
        if linked
            a(href=link)= title
        else
            span= title

        if node.children.length > 0
            ul.sidebar--nested-list
                each childNode in node.children
                    +menuItem(childNode)

nav.sidebar
    ul.sidebar--menu-list
        li.sidebar--level-1: a(href="/") Docs
        each node in nav
            +menuItem(node)
