- var section;
- var getSectionFiles = function (sect) { return Object.keys(files).filter(function (f) { return files[f].data.section === sect;});};


.sidebar
  ul#main-sidebar.nav.affix

    - section = getSectionFiles('concepts');
    li Respoke Concepts
        ul
            li(class=(path === 'index.html' ? 'active':'')): a(href="/") Quickstart
            include sidebar-section

    li(class=(path === 'changelog.html' ? 'active':'')): a(href="/changelog.html") Changelog

    - section = getSectionFiles('js-library');
    li Javascript Client
        ul
            li: a(href="http://respoke.github.io/respoke" target="_blank") Reference&nbsp;
                | &nbsp;&rarr;
            include sidebar-section


    li Admin API
        ul: li Coming soon
