
mixin menu(nodes)
    ul.menu
        li: a(href="/") Docs
        each node in nodes
            +menuItem(node)

mixin menuItem(node)
    - var itemClasses = [];
    - var link = node.file.data.linkUrl ? node.file.data.linkUrl : ['/', node.path].join('');
    - var linked = link && !node.file.data.noLink
    - var title = node.file.data.shortTitle ? node.file.data.shortTitle : node.file.data.title
    - var onLandingPage = (currentPath === 'index.html' && node.path === 'quickstart.html');

    - if (currentPath === node.path || onLandingPage) itemClasses.push('menu--current-item');
    - if (node.children.length > 0) itemClasses.push('menu--header');

    li(class=itemClasses.join(' '))
        if linked
            a(href=link)= title
        else
            span= title

        if node.children.length > 0
            ul.menu--nested
                each childNode in node.children
                    +menuItem(childNode)
