- var section;
- var getSectionFiles = function (sect) { return Object.keys(files).filter(function (f) { return files[f].section === sect;});};


#main-sidebar-wrap
  ul#main-sidebar.nav.affix

    - section = getSectionFiles('concepts');
    li Respoke Concepts
        ul
            li(ng-class="{ active: currentPage === '/' }"): a(href="/") Quickstart
            include sidebar-section

    li(ng-class="{ active: currentPage === '/changelog.html' }"): a(href="/changelog.html") Changelog
    li &nbsp;
    
    - section = getSectionFiles('js-library');
    li Javascript Client
        ul
            li: a(href="http://respoke.github.io/respoke" target="_blank") Reference&nbsp;
                i.glyphicon.glyphicon-share
            include sidebar-section
        
    
    li Admin API
        ul: li Coming soon
    
