- var section;
- var getSectionFiles = function (sect) { return Object.keys(files).filter(function (f) { return files[f].data.section === sect;});};


.sidebar
  .sidebar-inner: ul

    - section = getSectionFiles('tutorials');
    li.l1 Respoke Concepts
    include sidebar-section

    li.l1(class=(path === 'frequently-asked-questions.html' ? 'active':''))
        a(href="/frequently-asked-questions.html") FAQ
    li.l1(class=(path === 'changelog.html' ? 'active':'')): a(href="/changelog.html") Changelog

    - section = getSectionFiles('js-library');
    li.l1 Javascript Client
    li.l2: a(href="http://respoke.github.io/respoke" target="_blank") Reference&nbsp;
        | &nbsp;&rarr;
    include sidebar-section

    - section = getSectionFiles('api');
    li.l1 Admin API
    include sidebar-section

    li.l2 Coming soon
