- var section;
- var getSectionFiles = function (sect) { return Object.keys(files).filter(function (f) { return files[f].section === sect;});};


#main-sidebar-wrap
  ul#main-sidebar.nav.affix

    - section = getSectionFiles('concepts');
    li Respoke Concepts
        ul
            li: a(href="/") Quickstart
            include sidebar-section

    li: a(href="/changelog.html") Changelog
    
    - section = getSectionFiles('js-library');
    li Javascript Client
        ul
            include sidebar-section
        
    
    li Admin API
        ul: li Coming soon
    
