- var section;
- var getSectionFiles = function (sect) { return Object.keys(files).filter(function (f) { return files[f].data.section === sect;});};


.sidebar
  ul#main-sidebar.nav.affix

    - section = getSectionFiles('concepts');
    li.l1 Respoke Concepts
    li.l2(class=(path === 'index.html' ? 'active':'')): a(href="/") Quickstart
    include sidebar-section

    li.l1(class=(path === 'changelog.html' ? 'active':'')): a(href="/changelog.html") Changelog

    - section = getSectionFiles('js-library');
    li.l1 Javascript Client
    li.l2: a(href="http://respoke.github.io/respoke" target="_blank") Reference&nbsp;
        | &nbsp;&rarr;
    include sidebar-section


    li.l1 Admin API
    li.l2 Coming soon
