mixin menuItem(node)
    - var itemClasses = [];
    - var link = node.file.data.linkUrl ? node.file.data.linkUrl : ['/', node.path].join('');
    - var title = node.file.data.shortTitle ? node.file.data.shortTitle : node.file.data.title

    - itemClasses.push(node.parent ? 'l2' : 'l1');
    - if (currentPath === node.path) itemClasses.push('active');

    li(class=itemClasses.join(' '))
        if link && !node.file.data.noLink
            a(href=link)= title
        else
            = title
        if node.children.length > 0
            ul
                each childNode in node.children
                    +menuItem(childNode)

.sidebar
  .sidebar-inner
    ul
        each node in nav
            +menuItem(node)
