doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
    - var tutorials = page.parent.tutorials;
    - var reference = page.parent.reference;
    - var jslibrary = page.parent['js-library'];
    - var articles = _.extend(tutorials, reference, jslibrary);
    for article in articles
        url
          - var permalink = locals.url + (article ? article.url : "")
        //- title= article.title
        //- passing locals.url resolves all relative urls to absolute
        loc= permalink
        date= article ? article.rfc822date : new Date().rfc822date
        changefreq= article ? article.changefreq || "monthly" : "monthly"
        description= article ? article.priority || 0.8 : 0.8
