- function pad(i) { return i < 10 ? '0' + i : '' + i; }
mixin menuItem(node)
    - var link = 'https://docs.respoke.io/' + node.path;
    - var date = node.file.data.date ? new Date(node.file.data.date) : new Date();
    
    
    url
        loc= link
        date= '' + date.getFullYear() + '-' + pad(date.getMonth() + 1) + '-' + pad(date.getDate())
        changefreq= node.file.data.changefreq || "monthly"
        description= node.file.data.priority || 0.8
    
    if node.children.length > 0
        each childNode in node.children
            +menuItem(childNode)
    
doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
    for node in nav
        +menuItem(node)
